@model Test.Models.Admin

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/profile.css" />


<div class="main">
    <h2>IDENTITY</h2>
    <div class="card">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Admin Degree</td>
                        <td>:</td>
                        <td>@Model.AdminDegree</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>:</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td>Egypt </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <h2>SOCIAL MEDIA</h2>
    <div class="card">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <div class="social-media">
                <span class="fa-stack fa-sm">
                    <img src="~/Attach/icon.png" width="40" height="40" />
                </span>
                <span class="fa-stack fa-sm">
                    <img src="~/Attach/icon.png" width="40" height="40" />

                </span>
                <span class="fa-stack fa-sm">
                    <img src="~/Attach/icon.png" width="40" height="40" />
                </span>
                <span class="fa-stack fa-sm">
                    <img src="~/Attach/icon.png" width="40" height="40" />

                </span>
                <span class="fa-stack fa-sm">
                    <img src="~/Attach/icon.png" width="40" height="40" />

                </span>
                <span class="fa-stack fa-sm">
                    <img src="~/Attach/icon.png" width="40" height="40" />

                </span>
                <span class="fa-stack fa-sm">
                    <img src="~/Attach/icon.png" width="40" height="40" />

                </span>
            </div>
        </div>
    </div>
</div>
<!-- End -->
