@model Test.Models.News

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/login.css" />

<div class="wrapper">
    <div class="title">
        Add News Here ..
        <p>It's quick and easy</p>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="field">
            @Html.TextBoxFor(n => n.ContentOfPost, new { @class = "inputs" })
            <label for="">Content</label>
        </div>



        <div class="field-file">
            <label style="color: #4158d0 ; margin-bottom:5px">Image</label><br />
            <input type="file" name="photo" class="inputs" />
        </div>


        <div class="field">
            <input type="submit" value="Add">
        </div>

    </form>
    <div class="field">
        @Html.ActionLink("Back to List", "Show")
    </div>

</div>


